table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
  }

  table td {
    text-align: center;
  }

  .new-book,
  .clear,
  .display {
    padding: 10px;
    background-color: yellow;
    border: 2px solid green;
    border-radius: 10px;
  }

  .new-book:hover,
  .clear:hover,
  .display:hover {
    padding: 9px;
    box-shadow: inset -2px -2px black;
  }

  .new-book:active,
  .clear:active,
  .display:active {
    padding: 10px;
    box-shadow: 2px 2px 2px black;
  }

  table tbody tr:hover {
    background-color: lightgray;
  }